body{

	margin: 0;
	padding: 0;
	background: url(1.jpg) no-repeat;
	background-size: cover;
}
.box{
	width: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: "Century Gothic", sans-serif;

}

.box-img{
	border-radius: 55%;
	width: 150px;
	height: 150 px;

}

.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p {
	text-align: justify-all;

}

.link{
	font-weight: 100;
	transition: all 0.3s;
	display: inherit;
	background-color: #6f694a;
	color: #fffdf6;
}

.link:hover {
	background-color: rgb(197,190,155);
}

