body{

	margin: 0;
	padding: 0;
	background: url(12.jpg) no-repeat;
	background-size: cover;
}
.box{
	width: 450px;
	background: rgba(0,0,0,0.4);
	padding: 30px;
	text-align: center;
	margin: auto;
	margin-top: 3%;
	color: white;
	font-family: "Century Gothic", sans-serif;

}

.box h4{
	position: relative;
}

.box h4 span {
	position: absolute;
	background-image: url(pro.jpg);

}

.box-img{
	border-radius: 55%;
	width: 150px;
	height: 150 px;
	transition: all 0.5s;
}


.box-img:hover{
	transform: rotate(360deg);
}

.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p {
	text-align: justify-all;

}

a:link {
	text-decoration:none;
}

.link{
	font-weight: 100;
	transition: all 0.3s;
	display: inherit;
	background-color: rgba(162,214,221,0.1);
	color: #fffdf6;
	margin:10px;

}

.link:hover {
	background-color: rgb(197,190,155);
}
